<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>confirmation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!--<form (ngSubmit)="submitForm()">
    <ion-item>
      <ion-label position="floating">Nom</ion-label>
      <ion-input [(ngModel)]="name" name="name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Numéro de téléphone</ion-label>
      <ion-input [(ngModel)]="phone" name="phone" required></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Confirmer</ion-button>
  </form>-->
</ion-content>
