<ion-header class="ion-no-border">
  <ion-toolbar class="transparent-toolbar">
    <ion-title>
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="assets/image/DM+.jpg" alt="Logo" width="130" height="80" style="border-radius: 100px;">
        </a>
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openCartModal()">
        <ion-icon name="cart" style="font-size : 40px"></ion-icon>
        <ion-badge *ngIf="cartItemsCount > 0">{{ cartItemsCount }}</ion-badge>
      </ion-button>
    </ion-buttons>
  
    </ion-toolbar>
    <div class="popver">
      <ion-searchbar placeholder="Rechercher un produit"  (ionInput)="filterItems($event)"> <ion-button [(ngModel)]="searchTerm"></ion-button> </ion-searchbar>

    </div>
</ion-header>

<ion-content>

<swiper-container
  #swiper 
  class="mySwiper" pagination="true" pagination-type="progressbar" navigation="true"
>


    <swiper-slide *ngFor="let slide of itemsBis" >
      <div class="swiper-zoom-container">
        <img [src]="slide.img" class="zoom-image" />
      </div>
      <div class="carousel-caption d-none d-md-block">
        <h5>{{ slide.title }}</h5>
        <p>{{ slide.content }}</p>
        <button>Plus ></button>
      </div>
    </swiper-slide>
  </swiper-container>

  <!--<ion-grid style="text-align: center;" class = "full-width">
    <ion-item lines="none" color="light">
      <ion-label class="title">Differente varieté</ion-label>
    </ion-item>
    
    <ion-row *ngIf="items.length > 0" class="items1">
      <ion-col size="2" size-md="2" size-lg="3" *ngFor="let item of items1" (click)="OpenImgModal()">
        <ion-card style="text-align: center;" >
          <img [src]="item.img" [alt]="item.title" class="zoom-image"  />
          <h5>{{ item.title }}</h5>
          <p>{{ item.content }}</p>
  
          <button style="text-align: center;"><ion-icon name="chevron-forward-circle" style="font-size: 30px;"></ion-icon></button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>-->

  <ion-grid class="full-width center-content no-padding-margin">
    <div class="image-container">
      <ion-card class="image-card no-padding-margin" *ngFor="let item of items1" (click)="OpenImgModal()">
        <img [src]="item.img" [alt]="item.title" class="fullscreen-image" />
        <div style="text-align: center;">
          <h5>{{ item.title }}</h5>
          <!--<p>{{ item.content }}</p>-->
          <button style="text-align: center;">
            <ion-icon name="chevron-forward-circle" style="font-size: 30px;"></ion-icon>
          </button>
        </div>
      </ion-card>
    </div>
  </ion-grid>
  
  

  <!--<ion-grid class="center-content">
      <ion-item lines="none" color="light">
        <ion-label class="title">Differente varieté</ion-label>
      </ion-item>
    
    <ion-row *ngIf="items.length > 0" class="items1 full-width">
      <ion-col size="6" size-md="4" size-lg="3" *ngFor="let item of items1" (click)="OpenImgModal()">
        <ion-card>
          <img [src]="item.img" [alt]="item.title" class="zoom-image" />
          <h5>{{ item.title }}</h5>
          <p>{{ item.content }}</p>
          <button style="text-align: center;">
            <ion-icon name="chevron-forward-circle" style="font-size: 30px;"></ion-icon>
          </button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>-->
  


   <ion-grid>
    <ion-item lines="none" color="light">
      <ion-label class="title">A la une</ion-label>
      <ion-button slot="end" size="small" shape="round" color="primary" (click)="toggleShowAll()">
        {{ showAllItems ? 'Voir moins' : 'Voir' }}
      </ion-button>
    </ion-item>
    
    <ion-row *ngIf="items.length > 0">
      <ion-col size="6" size-md="4" size-lg="3" *ngFor="let item of items.slice(0, itemsToShow)" (click)="OpenImgModal()">
        <ion-card class="contenu">
          <img [src]="item.img" [alt]="item.title" class="zoom-image" />
          <ion-card-header>
            <div class="carousel-caption d-none d-md-block">
              <h5>{{ item.title }}</h5>
              <p>{{ item.content }}</p>
              <ion-icon name="chevron-forward-circle" style="font-size: 30px;"></ion-icon>
            </div>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>


    <ion-row *ngIf="filteredItems.length === 0" class="error-message">
      <ion-col>
        <p>Aucun produit trouvé.</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row *ngIf="filteredItems.length > 0" class="margin-bottom">  
        <ion-col size="6" size-md="4" size-lg="3" size-xl="2" *ngFor="let item of filteredItems.slice(0, 15)">
        <ion-card >
          <img [src]="item.img" [alt]="item.title" (click)="OpenDescriptionModal(item)" />
          <ion-card-header>
            <ion-card-title>{{ item.title }}</ion-card-title>
            <ion-card-subtitle>{{ item.price }} FCFA</ion-card-subtitle>
          </ion-card-header>
          <!--<ion-card-content>
            {{ item.content }}
          </ion-card-content>-->
          <!--<button (click)="addToCart(item)" style="text-align: center;">Ajouter</button>-->

          <!--<ion-item>
            <ion-label position="floating">Quantité</ion-label>
            <ion-input type="number" min="1" [(ngModel)]="item.quantity" value="1"></ion-input>
          </ion-item>
          <ion-button expand="block" (click)="addToCart(item)">Ajouter</ion-button>-->

          <!--<div style="display: flex; align-items: center; justify-content: space-around;">
 
            <ion-icon name="remove" (click)="decreaseQuantity(item)" style="color: red; font-size: 15px"></ion-icon>
            <span (click)="addToCart(item)" style="color: rgb(34, 30, 30); font-size: 17px">{{ item.quantity || 1 }}</span>
        
            <ion-icon name="add" (click)="increaseQuantity(item)" style="color: red; font-size: 15px"></ion-icon>
            <button (click)="addToCart(item)" style="text-align: center; ">Ajouter</button>
          </div>-->

          <div class="btn">
 
            <button name="remove" (click)="decreaseQuantity(item)" style="color: rgb(255, 254, 254); font-size: 15px" class="btn2">-</button>
            <span (click)="addToCart(item)" style="color: rgb(34, 30, 30); font-size: 17px">{{ item.quantity || 0 }}</span>
        
            <button name="add" (click)="increaseQuantity(item)" (click)="addToCart(item)" style="color: rgb(255, 255, 255); font-size: 15px" class="btn1">+</button>
            <!--<button (click)="addToCart(item)" style="text-align: center; ">Ajouter</button>-->
          </div>   
          <!--<ion-icon name="chevron-forward-circle"  class="btnIcon" (click)="OpenDescriptionModal(item)"></ion-icon>-->                    
        </ion-card>
      
      </ion-col>
    </ion-row>
    <ion-row *ngIf="filteredItems.length === 0" class="error-message">
      <ion-col>
        <p>Aucun produit trouvé.</p>
      </ion-col>
    </ion-row>

  </ion-grid>


  <!--<ion-grid class="icon-margin-top">
    <ion-item lines="none" color="light">
      <ion-label class="title">Nouveaux articles</ion-label>
      <ion-button slot="end" size="small" shape="round" color="primary">Voir</ion-button>
    </ion-item>
    <ion-row>
      <ion-slides [options]="slideOpts">
        <ion-slide *ngFor="let slide of items">
          <ion-card class="bgCard" [routerLink]="['/', 'tabs', 'item', slide.id]">
            <ion-card-header>
              <ion-label>
                {{ slide.title }}
                <p>{{ slide.price }} €</p>
              </ion-label>
            </ion-card-header>
            <ion-card-content>
              <img [src]="slide.img" class="zone-img" />
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>-->
</ion-content>
